.svg-container

  svg(version="1.1",
      xmlns="http://www.w3.org/2000/svg",
      ng-attr-viewBox="0 0 {{width}} {{height}}")

    |  <style>
    |    .axis-group line,
    |    .axis-group path {
    |      shape-rendering: crispEdges;
    |      stroke: #000;
    |      stroke-width: 1px;
    |      fill: none;
    |    }
    |    .save-button {
    |      position: absolute;
    |      top: 60px;
    |      right: 75px;
    |    }
    |  </style>

    g(ng-attr-transform="translate({{margin}},{{margin}})")

      rect( ng-attr-width="{{width-2*margin}}",
            ng-attr-height="{{height-2*margin}}",
            ng-style="axisStyle()")

      path.line.spectrum(
        ng-attr-d="{{getPath(spectrum.points)}}",
        ng-style="spectrumStyle(spectrum.color)",
        ng-repeat="(filename, spectrum) in spectra")

      path.line.pdf(
        ng-attr-d="{{getPath(pdf.points, graph.pdfScale/100)}}",
        ng-style="pdfStyle(pdf.color)",
        ng-repeat="(filename, pdf) in pdfs",
        ng-attr-transform="translate(0, {{(height-2*margin)*" +
                          "(1-graph.pdfScale/100)}})")

    g(ng-attr-transform="translate({{margin}}, {{height-margin}})",
      class="axis-group")

  a(href-lang="image/svg+xml",
    ng-href="data:image/svg+xml;base64,{{getSVGb64()}}",
    title="Save as SVG",
    class="btn btn-success save-button",
    download="xray.svg") Save SVG
